site_name: sturgmap
site_description: Python package for geospatial analysis
site_author: nathansturgill
site_url: https://nathansturgill.github.io/sturgmap
repo_url: https://github.com/nathansturgill/sturgmap

copyright: "Copyright &copy; 2024 - 2024 Nathan Sturgill"

theme:
    palette:
        - scheme: default
          #   primary: blue
          #   accent: indigo
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
        - scheme: slate
          primary: indigo
          accent: indigo
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode
    name: material
    icon:
        repo: fontawesome/brands/github
    # logo: assets/logo.png
    # favicon: assets/favicon.png
    features:
        - navigation.instant
        - navigation.tracking
        - navigation.top
        - search.highlight
        - search.share
    custom_dir: "docs/overrides"
    font:
        text: Google Sans
        code: Regular

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - git-revision-date-localized:
          enable_creation_date: true
          type: timeago
    # - pdf-export
    - mkdocs-jupyter:
          include_source: True
          ignore_h1_titles: True
          execute: True
          allow_errors: false
          ignore: ["conf.py"]
          execute_ignore: ["510labs/GEOG_510_lab4.ipynb", "510labs/GEOG510_lab5.ipynb", "ipyleaflet.ipynb", "vectordata.ipynb", "raster.ipynb", "ipywidgets.ipynb", "folium.ipynb","splitmap.ipynb"]
          
markdown_extensions:
    - admonition
    - abbr
    - attr_list
    - def_list
    - footnotes
    - meta
    - md_in_html
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

# extra:
#     analytics:
#         provider: google
#         property: UA-XXXXXXXXX-X

nav:
    - Home: index.md
    - Installation: installation.md
    - Usage: usage.md
    - Contributing: contributing.md
    - FAQ: faq.md
    - Changelog: changelog.md
    - Report Issues: https://github.com/nathansturgill/sturgmap/issues
    - Examples:
        - examples/intro.ipynb
        - examples/ipyleaflet.ipynb
        - examples/vectordata.ipynb
        - examples/raster.ipynb
        - examples/ipywidgets.ipynb
        - examples/folium.ipynb
        - examples/splitmap.ipynb
    - API Reference:
          - sturgmap module: sturgmap.md
          - common module: common.md
    - Lab:
          - 510labs/GEOG_510_lab4.ipynb
          - 510labs/GEOG510_lab5.ipynb