.rounded-right {
    border: none;
    border-radius: 0 25px 25px 0;
}

.border-left-darkgrey {
    border-bottom: 1px solid darkgrey;
}

@media only screen 
and (min-width : 770px) {
    .border-left-darkgrey {
        border-right: 1px solid darkgrey;
    }
}

.shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

p {
    margin-right: 1rem;
    margin-left: 1rem;
}