@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import "../node_modules/bulma/bulma.sass";

// Set your brand colors

//Primary colors
$blue: #DDEAFF;
$green: #23AD7B;
$yellow: #FFCC63;
$orange: #FF714F;

//Secondary colors
$navy: #25303D;
$blue-light: #F3F7FD;

//Grayscale mono colors
$white: #FFFFFF;
$grey: #969696;
$grey-dark: #585858;
$grey-light: #D9D9D9;
$black: #000000;


// Update Bulma's global variables


// Update some of Bulma's component variables


// Import only what you need from Bulma


//COLORS